*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(216, 191, 216);
    text-align: center;
}
.game{
   height: 60vmin;
   width: 60vmin;
   display: flex;
   justify-content: center; 
   flex-wrap: wrap;
   align-items: center;
   gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(red, green, blue, alpha);
    font-size: 8vmin;
    color: rgb(69, 71, 71);
    background-color: rgb(215, 226, 3);
}
.container{
    height: 70vmin;
    display: flex;
     justify-content: center; 
      align-items: center;

}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: azure;
    border-radius: 1rem;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: azure;
    border-radius: 1rem;
   
}
.msg-container{
   
    color: white;
    background-color: seagreen;
}
#msg{
    color: azure;
    font-size: 5vmin;
}
.hide{
    display: none;
}